<div class="container">
  <div class="col-8">
    <h1>Task Index View</h1>
    
    <ul class="list-group">
      <% @tasks.each do |task| %>
      
        <li class="list-group-item list-group-item-action"><%= link_to task.title, task_path(task) %></li>
      <% end %>
    </ul>
    
    <%= link_to 'Create a new task', new_task_path, class: "btn btn-primary my-4" %>
  </div>
</div>